<%= simple_form_for [:elements, @technician], wrapper: :maxwell_horizontal_form, defaults: { grid_wrapper_html: { class: 'col-sm-9' } } do |f| %>
  <div class="card">
    <div class="card-header"><%= header %></div>

    <div class="card-body">
      <legend class="form-section">
        <i class="fa fa-user"></i> <%= t('.section.basic') %>
      </legend>

      <div class="form-group row string required">
        <%= f.input :firstname, wrapper: false, grid_wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :lastname, wrapper: false, grid_wrapper_html: { class: 'col-sm-3' } %>
      </div>

      <%= f.input :active, label: false, wrapper: :horizontal_boolean, grid_wrapper_html: { class: '' }, form_check_wrapper_html: { class: 'form-check-no-padd' } do %>
        <%= f.input_field :active, as: :hidden %>
        <label class="switch switch-label switch-pill switch-primary">
          <%= f.input_field :active, class: 'switch-input' %>
          <span class="switch-slider" data-checked="<%= t('boolean.byes') %>" data-unchecked="<%= t('boolean.bno') %>"></span>
        </label>
      <% end %>
    </div>

    <div class="card-footer">
      <div class="float-right">
        <%= link_to t('.cancel'), back_link_for(elements_technicians_url), class: 'btn btn-secondary' %>
        <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
