<table class="table table-responsive-sm table-striped table-hover table-sm table-maxwell-data">
  <thead>
    <tr>
      <th>#</th>
      <th><%= sort_link(@q, :datetime, {}, remote: true) %></th>
      <th><%= sort_link(@q, :city_name, {}, remote: true) %></th>
      <th><%= sort_link(@q, :client_name, {}, remote: true) %></th>
      <th><%= sort_link(@q, :work_order_number, {}, remote: true) %></th>
      <th><%= sort_link(@q, :plan_service_name, {}, remote: true) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @technical_services.each_with_index do |ts, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= l(ts.datetime, format: :short_datetime) %></td>
        <td><%= ts.city.name %></td>
        <td><%= ts.client.name %></td>
        <td><%= ts.work_order_number %></td>
        <td><%= ts.plan_service.try(:name) %></td>
        <td>
          <%= link_to edit_technical_service_path(ts), class: 'btn btn-sm btn-primary', data: { toggle: 'tooltip', title: t('.tooltip.edit') } do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td class="page-entries-info" colspan="7"><%= page_entries_info @technical_services %></td>
    </tr>

    <% if @technical_services.total_pages > 1 %>
      <tr>
        <td colspan="7">
          <%= paginate @technical_services, remote: true %>
        </td>
      </tr>
    <% end %>
  </tfoot>
</table>
