<div id="alert-message">
  <% if flash[:alert] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<table class="table table-responsive-sm table-hover table-sm table-maxwell-data maxwell-detail-striped" data-controller="table-detail">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th><%= sort_link(@q, :date, {}, remote: true) %></th>
      <th><%= sort_link(@q, :client_name, {}, remote: true) %></th>
      <th><%= sort_link(@q, :city_name, {}, remote: true) %></th>
      <th><%= sort_link(@q, :work_order_number, {}, remote: true) %></th>
      <th><%= sort_link(@q, :plan_service_name, {}, remote: true) %></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @technical_services.each_with_index do |ts, index| %>
      <tr>
        <td>
          <button class="btn btn-ghost-info btn-sm" data-action="table-detail#collapse">
            <i class="fa fa-caret-right"></i>
          </button>
        </td>

        <td><%= @technical_services.offset_value + index + 1 %></td>
        <td><%= l(ts.datetime, format: :short_date_show) %></td>
        <td><%= ts.client.to_label %></td>
        <td><%= ts.city.name %></td>
        <td><%= ts.work_order_number %></td>
        <td><%= ts.plan_service.try(:name) %></td>

        <td class="action-buttons">
          <%= link_to technical_service_path(ts), class: 'btn btn-sm btn-outline-success', data: { toggle: 'tooltip', title: t('.tooltip.show') } do %>
            <i class="fa fa-eye"></i>
          <% end %>

          <% if can? :update, ts %>
            <%= link_to edit_technical_service_path(ts), class: 'btn btn-sm btn-outline-primary', data: { toggle: 'tooltip', title: t('.tooltip.edit') } do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          <% end %>

          <% if can? :manage, ts %>
            <%= link_to path_with_parameters(:technical_service_path, ts), remote: true, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { toggle: 'tooltip', trigger: 'hover', title: t('.tooltip.delete'), confirm: t('.delete_confirm') } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td colspan="8" class="detail-row collapsed">
          <div class="detail-row-content">
            <span class="title"><%= t_model('observations') %>:</span> <%= ts.observations %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td class="page-entries-info" colspan="8"><%= page_entries_info @technical_services %></td>
    </tr>

    <% if @technical_services.total_pages > 1 %>
      <tr>
        <td colspan="8">
          <%= paginate @technical_services, remote: true %>
        </td>
      </tr>
    <% end %>
  </tfoot>
</table>

<%= search_form_for @q, url: download_technical_services_path, id: 'export_form' do |f| %>
  <%= f.hidden_field :datetime_gteq %>
  <%= f.hidden_field :datetime_lteq %>
  <%= f.hidden_field :technical_service_technicians_technician_id_eq %>
  <%= f.hidden_field :technical_service_work_types_work_type_id_eq %>
  <%= f.hidden_field :client_id_eq %>
  <%= f.hidden_field :user_id_eq %>
  <%= f.hidden_field :total_cost_eq, value: total_cost_type_value(@q) %>
  <%= f.hidden_field :invoice_id_not_null %>
  <%= f.hidden_field :work_order_number_s_cont %>
<% end %>
