<%= simple_form_for [:elements, @work_type], wrapper: :maxwell_horizontal_form, defaults: { grid_wrapper_html: { class: 'col-sm-9' } } do |f| %>
  <div class="card">
    <div class="card-header"><%= header %></div>

    <div class="card-body">
      <legend class="form-section">
        <i class="fa fa-wrench"></i> <%= t('.section.basic') %>
      </legend>

      <%= f.input :name %>
    </div>

    <div class="card-footer">
      <div class="float-right">
        <%= link_to t('.cancel'), back_link_for(elements_work_types_url), class: 'btn btn-secondary' %>
        <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
