<div id="alert-message">
  <% if flash[:alert] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<table class="table table-responsive-sm table-striped table-hover table-sm table-maxwell-data">
  <thead>
    <tr>
      <th class="number-column">#</th>
      <th><%= sort_link(@q, :name, {}, remote: true) %></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_types.each_with_index do |wt, index| %>
      <tr>
        <td><%= @work_types.offset_value + index + 1 %></td>
        <td><%= wt.name %></td>

        <td class="align-right">
          <% if can? :update, wt %>
            <%= link_to edit_elements_work_type_path(wt), class: 'btn btn-sm btn-outline-primary', data: { toggle: 'tooltip', title: t('.tooltip.edit') } do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          <% end %>

          <% if can? :manage, wt %>
            <%= link_to path_with_parameters(:elements_work_type_path, wt), remote: true, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { toggle: 'tooltip', trigger: 'hover', title: t('.tooltip.delete'), confirm: t('.delete_confirm') } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td class="page-entries-info" colspan="3"><%= page_entries_info @work_types %></td>
    </tr>

    <% if @work_types.total_pages > 1 %>
      <tr>
        <td colspan="3">
          <%= paginate @work_types, remote: true %>
        </td>
      </tr>
    <% end %>
  </tfoot>
</table>
