<div class="card">
  <div class="card-body">

    <%= search_form_for @q, url: clients_path, remote: true do |f| %>
      <div class="row">
        <div class="col-sm-5">
          <%= f.input :identification_cont, label: t('.search_form.client'), input_html: { placeholder: t('.search_form.client_placeholder') } %>
        </div>

        <div class="col-sm-3">
          <%= f.input :organization_id_eq, as: :select, collection: accessible_organizations, label: t('.search_form.organization'), include_blank: t('search_form.any') %>
        </div>

        <div class="col-sm-1 align-bottom-flex">
          <div class="form-group select required">
            <button class="btn btn-ghost-info" type="submit" data-toggle="tooltip" data-trigger="hover" title="<%= t('.search_form.tooltip.submit') %>">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header data-header">
    <div class="title">
      <%= t('.header') %>
      <% if current_user.group.organization %>
        <sub> (<%= current_user.group.organization.name %>)</sub>
      <% end %>
    </div>

    <div>
      <% if can? :create, Client %>
        <%= link_to new_client_path, class: 'btn btn-sm btn-primary', data: { toggle: 'tooltip', title: t('.tooltip.new') } do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div id="clients-table-container">
      <%= render 'clients_table' %>
    </div>
  </div>
</div>

