<div class="card-group">
  <div class="card p-4">
    <div class="card-body">
      <div class="row justify-content-center">
        <img class="brand-logo-full" src="<%= asset_pack_path 'media/images/brand/brand_full.jpg' %>" alt="<%= app_description %>">
      </div>

      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <p><i class="fa fa-times" aria-hidden="true"></i> <%= alert %></p>
        </div>
      <% end %>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :login, required: false, autofocus: true, label: false do %>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <%= f.input_field :login, as: :string, class: 'form-control', placeholder: t('activerecord.attributes.user.login') %>
            </div>
          <% end %>

          <%= f.input :password, required: false, label: false do %>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <%= f.input_field :password, class: 'form-control', placeholder: t('activerecord.attributes.user.password') %>
            </div>
          <% end %>

          <%= f.input :remember_me, as: :boolean, form_check_wrapper_html: { class: 'form-check form-check-inline' } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, t(".sign_in"), class: 'btn btn-block btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
