<%= simple_form_for [:system, @group], wrapper: :maxwell_horizontal_form, defaults: { grid_wrapper_html: { class: 'col-sm-9' } } do |f| %>
  <div class="card">
    <div class="card-header"><%= header %></div>

    <div class="card-body">
      <legend class="form-section">
        <i class="fa fa-user"></i> <%= t('.section.basic') %>
      </legend>

      <%= f.input :name %>

      <%= f.association :organization, collection: sorted_organizations %>

      <% if @group.group_permissions.any? %>
        <legend class="form-section">
          <i class="fa fa-lock"></i> <%= t('.section.security') %>
        </legend>

        <div class="left-margin">
          <% permissions_by_category(@group).each do |cat, gp| %>
            <legend class="form-category-section"><%= cat %></legend>

            <%= f.simple_fields_for :group_permissions, gp  do |ff| %>
              <div class="form-group row string required">
                <div class="col-sm-3">
                  <%= ff.object.permission.title %>
                  <abbr title="required">*</abbr>
                </div>

                <%= ff.hidden_field :permission_id %>
                <%= ff.input :permission_code, as: :radio_buttons, wrapper: :maxwell_horizontal_collection_inline, label: false, grid_wrapper_html: { class: '' } %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <div class="float-right">
        <%= link_to t('.cancel'), system_groups_path, class: 'btn btn-secondary' %>
        <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
