<div class="card">
  <div class="card-header data-header">
    <div class="title"><%= t('.header') %></div>

    <div>
      <%= link_to system_groups_path, class: 'btn btn-sm btn-secondary', data: { toggle: 'tooltip', title: t('.tooltip.index') } do %>
        <i class="fa fa-list"></i>
      <% end %>

      <% if can? :update, @group %>
        <%= link_to edit_system_group_path(@group), class: 'btn btn-sm btn-primary', data: { toggle: 'tooltip', title: t('.tooltip.edit') } do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <legend class="form-section">
      <i class="fa fa-user"></i> <%= t('.section.basic') %>
    </legend>

    <table class="table table-sm table-details table-details-sm">
      <tbody>
        <tr>
          <th><%= t_model('name') %></th>
          <td><%= @group.name %></td>
        </tr>
      </tbody>
    </table>

    <% if @group.group_permissions.any? %>
      <legend class="form-section">
        <i class="fa fa-lock"></i> <%= t('.section.security') %>
      </legend>

      <table class="table table-sm table-details table-details-sm">
        <tbody>
          <% permissions_by_category(@group).each do |cat, gp| %>
            <tr>
              <th colspan="2"><%= cat %></th>
            </tr>
            <% gp.each do |gp| %>
              <tr>
                <td class="cell-with-margin"><%= gp.permission.title %></td>
                <td><%= gp.permission_code_text %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="card-footer">
    <div class="float-right">
      <%= link_to system_groups_path, class: 'btn btn-sm btn-secondary', data: { toggle: 'tooltip', title: t('.tooltip.index') } do %>
        <i class="fa fa-list"></i>
      <% end %>

      <% if can? :update, @group %>
        <%= link_to edit_system_group_path(@group), class: 'btn btn-sm btn-primary', data: { toggle: 'tooltip', title: t('.tooltip.edit') } do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
